.Box {
  margin-right: 4.8rem;
  margin-bottom: 4.4rem;
  flex-basis: 30%;
  min-width: 31.6rem;
  max-width: 50rem;
  padding: 1.2rem;
  box-shadow: 0px 2px 8px 0px #0000001f;
  transition: 0.2s;
  border-radius: 1.2rem;
  position: relative;
}

.BoxAbout {
  color: #1d232b;
}
.BoxDark {
  background-color: #f5f5f5;
}
.BoxLight {
  background-color: #1d232b;
}
.Image {
  width: 100%;
}

.Hover {
  /* display: none; */
  position: absolute;
  right: 0;
  z-index: 1;
  bottom: 0;
  height: 0;
  transition: 0.2s;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  left: 0;
  visibility: hidden;
  border-radius: 1.2rem;
}
.Box:hover .Hover {
  /* display: block; */
  visibility: visible;
  height: 100%;
}
.HoverContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.HoverContent button {
  background-color: #2930e3;
  padding: 0.8rem 1.6rem;
  color: #f5f5f5;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  border: 0;
  cursor: pointer;
}
.HoverContent div {
  margin-block: 1rem;
}
.Del {
  font-size: 1.6rem;
  text-decoration: underline;
  color: #f5f5f5;
  font-weight: bold;
}
.HoverContent button span {
  margin-inline: 1rem;
}
.ImagesImg {
  width: 100%;
  height: 100%;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  object-fit: cover;
}
.Links {
  display: flex;
  color: rgba(41, 48, 227, 1);
  justify-content: space-between;
  font-size: 1.6rem;
  margin-top: 2rem;
}

.BoxAbout {
  margin-top: 1.6rem;
  font-weight: 700;
  font-size: 1.8rem;
  text-transform: capitalize;
  line-height: 2.1rem;
}
.BoxAboutDark {
  color: #1d232b;
}
.BoxAboutLight {
  color: #f5f5f5;
}

.CreateButton {
  border: 1px solid #2930e3;
  padding: 1rem 2rem;
  color: #2930e3;
  font-size: 1.6rem;
  background-color: transparent;
  border-radius: 0.2rem;
  cursor: pointer;
  text-decoration: none;
}
.Articles {
  margin-top: 6rem;
  padding: 3.4rem 6rem;
}

.ArticleHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
}
.Head {
  font-size: 2.4rem;
  color: #fff;
  line-height: 2.9rem;
  /* margin-bottom: 4.4rem; */
}
.Container {
  display: flex;
  justify-content: space-evenly;
  border-radius: 0.8rem;
  align-items: flex-start;
}
.Boxes {
  display: flex;
  flex-basis: 82%;
  margin-right: 2.4rem;
  box-sizing: border-box;
  flex-wrap: wrap;
}
.Box {
  margin-right: 4.8rem;
  margin-bottom: 4.4rem;
  flex-basis: 28%;
  min-width: 31.6rem;
  max-width: 50rem;
  padding: 1.2rem;
  box-shadow: 0px 2px 8px 0px #0000001f;

  border-radius: 1.2rem;
}
.BoxDark {
  background-color: #1d232b;
}
.BoxLight {
  background-color: #f5f5f5;
}
.Image {
  width: 100%;
  height: 16rem;
}
.ImagesImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
}
.Links {
  display: flex;
  color: rgba(41, 48, 227, 1);
  justify-content: space-between;
  font-size: 1.6rem;
  margin-top: 2rem;
}

.BoxAbout {
  margin-top: 1.6rem;
  font-weight: 700;
  font-size: 1.8rem;
  text-transform: capitalize;
  line-height: 2.1rem;
  height: 4.2rem;
}
.BoxAboutDark {
  color: white;
}
.BoxAboutLight {
  color: #1d232b;
}
.Block {
  padding: 0 0.6rem;
}
.Content {
  font-weight: 300;
  margin: 2rem 0;
  font-size: 1.4rem;
  height: 4.2rem;
}
.ContentDark {
  color: rgb(254, 254, 254, 0.6);
}
.ContentLight {
  color: #333333;
}
.Bottom {
  display: flex;
  align-items: center;

  justify-content: space-between;
}
.Left {
  display: flex;
  align-items: center;
}
.LeftImage {
  width: 4rem;
  height: 4rem;
  margin-right: 1.2rem;
}
.LeftImage img {
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  height: 100%;
}
.LeftContent div {
  font-weight: 700;
}
.LeftContent div,
.LeftContent i {
  color: white;
  font-size: 1.4rem;
  line-height: 1.4rem;
}
.LeftContent i {
  margin-top: 0.4rem;
}
.Right {
  display: flex;
  align-items: center;
  color: #fff;
}
.Time {
  margin-left: 0.5rem;
  font-size: 1.4rem;
}
.Update {
  padding: 2.4rem 2rem;
  flex: 1;
  color: white;

  min-width: 30.1rem;
  background-color: #1d232b;
}
.Title {
  color: rgba(215, 112, 112, 1);
  font-weight: 700;
  margin-bottom: 2rem;
}

.PopularBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.4rem;
}
.Image {
  flex-basis: 90%;
}
.img {
  width: 9.2rem;
  margin-right: 1.2rem;
  height: 9.2rem;
  border-radius: 1.2rem;
}

.RightPopularBox {
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
}
.PopularLinks {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 0.3rem;
  align-items: center;
}
.PopularLinks a {
  margin-bottom: 0.5rem;
  margin-right: 1rem;
}
.ButtonPro {
  margin-top: 2rem;
  color: white;
  border: 0;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  padding: 0.8rem 1.2rem;
  border-radius: 4px;
  background-color: #2930e3;
}
.Btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 45%;
  max-width: 45rem;
}
.Btns a {
  color: #fff;
  background-color: #2930e3;
  border: 1px solid #2930e3;
  border-radius: 0.2rem;
  padding: 1rem 2.5rem;
}
.Special {
  margin-inline: 2rem;
}

@media only screen and (max-width: 1830px) {
  .Box {
    flex-basis: 28%;
  }
}
@media only screen and (max-width: 1521px) {
  .Box {
    flex-basis: 43%;
  }
  .Boxes {
    margin-right: 0;
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 1150px) {
  .Update {
    display: none;
  }
  .Boxes {
    flex-basis: 100%;
  }
}
@media only screen and (max-width: 850px) {
  .Boxes {
    justify-content: center;
  }
  .CreateButton {
    display: none;
  }
  .Box {
    flex-basis: 100%;
    margin-right: 0;
  }
}

@media only screen and (max-width: 650px) {
  .Head2 {
    display: none;
  }

  .Btns {
    flex-basis: 100%;
  }
}
@media only screen and (max-width: 500px) {
  .Articles {
    padding: 3rem;
  }
}
@media only screen and (max-width: 400px) {
  .Articles {
    padding: 3rem 2rem;
  }
  .Btns a {
    padding: 0.8rem 1.6rem;
  }
}
