.Footer {
  margin-top: 5rem;
  background: linear-gradient(
      to top,
      rgb(11, 15, 109, 0.75),
      rgba(111, 133, 212, 0.5)
    ),
    url(../assets/Desktop\ -\ 2.png);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 30rem;
}
