.Header {
  padding: 2.5rem 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  box-shadow: 0px 4px 12px 0px #908f8f1f;
}
.HeaderDark {
  background-color: #111926;
}
.HeaderLight {
  background-color: #fff;
  box-shadow: 0px 4px 12px 0px #908f8f1f;
}
.Logo {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 2rem;
}
.SpecialLogo {
  color: #2930e3;
}
.LogoNameDark {
  color: #fff;
}
.LogoNameLight {
  color: #000;
}
.HeaderLinks {
  display: flex;
  font-weight: 400;
  color: #fff;
  flex-basis: 50%;
  max-width: 62rem;
  justify-content: space-between;
  align-items: center;
}
.HeaderLinkDark {
  color: #fff;
}
.HeaderLinkLight {
  color: #444444;
}
.Menu {
  display: none;
  margin-right: 2rem;
  color: white;
  font-size: 2.5rem;
}

.ContactLink {
  background-color: #2930e3;
  color: white;
  padding: 1.2rem 2.4rem;
  border-radius: 5px;
  transition: all 0.5s;
}
.ContactLink:hover {
  background-color: transparent;
  border: 1px solid #2930e3;
  color: #2930e3;
}
.User {
  display: flex;
  align-items: center;
}
.UserDark {
  color: #fff;
}
.UserLight {
  color: black;
}
.userImg {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 2px solid #2930e3;
}
.UserName {
  margin-inline: 1rem;
  font-size: 1.4rem;
}
.WriteBtn {
  background-color: #2930e3;
  color: #fff;
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-radius: 2rem;
  border: 0;
  cursor: pointer;
}
.Write {
  margin-left: 0.2rem;
  font-weight: bold;
}
.UserNavWrapper {
  background-color: #fff;
  border-radius: 0.2rem;
  color: rgb(51, 65, 85, 0.85);
  font-size: 1.4rem;
  position: absolute;
  right: 2rem;
  top: 6rem;
  font-weight: 500;
  width: 32rem;
  z-index: 10;
  border-radius: 0.5rem;
  box-sizing: border-box;
  box-shadow: 0px 0px 12px 2px rgba(144, 143, 143, 0.4);
}
.UserNavSummary {
  position: relative;
}
.UserNavHead,
.UserNavLinks a,
.UserNavLinks button {
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.UserNavHead:hover,
.UserNavLinks a:hover,
.UserNavLinks button:hover {
  background-color: rgb(226 232 240);
}
.UserNavLinks a,
.UserNavLinks button {
  color: inherit;
  border-top: 1px solid rgb(226 232 240 / 80%);
}

.UserNavLinks a li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: inherit;
  font: inherit;
}
.UserNavLinks a li span {
  margin-left: 1rem;
}
.UserNavLinks a li svg {
  font-size: 2.2rem;
}

.Pointer {
  background-color: #fff;
  width: 3.5rem;
  height: 3.5rem;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  top: -1.35rem;
  right: 1rem;
  z-index: -1;
  position: absolute;
}
.FullName {
  color: #000;
  font-size: 1.6rem;
  flex-basis: 70%;
}
.UserNavImage {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin-right: 1rem;
}
.LogoutBtn {
  display: flex;
  align-items: center;
  font-size: inherit;
}
.Logout {
  width: 100%;
  color: red !important;
  background-color: transparent;
  border: 0;
}
.Logout svg {
  font-size: 2rem;
  margin-right: 1rem;
}
.UserContainer {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.CloseMobile {
  /* visibility: hidden; */
  width: 0% !important;
  overflow: hidden;
}
.Mobile {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;

  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  display: none;
  box-shadow: 4px 0 12px 0px #908f8f1f;
  transition: all 0.2s;
}
.MobileLight {
  background-color: #fff;
  box-shadow: 0px 0 12px 0px #908f8f1f;
  display: none;
}
.Mobile aside {
  width: 45%;
  background-color: #111926;
  height: 100%;
  position: relative;
  color: #fff;
}
.Mobile aside main {
  padding: 4rem;
}

.Mobile aside ul {
  list-style: none;
}
.Mobile aside ul li:not(:last-child) {
  margin-bottom: 2rem;
}
.Mobile aside section {
  position: absolute;
  bottom: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.Mobile aside section a {
  padding: 1rem 3rem;
  flex-basis: 100%;
  text-align: center;
  max-width: 12rem;
  border-radius: 10rem;
}
.SignUp {
  background-color: #2930e3;
}
.SignIn {
  border: 1px solid #2930e3;
  color: #2930e3;
}
.Left {
  display: flex;
}
.RightSection {
  display: flex;
  align-items: center;
}
/*Media queries*/
@media only screen and (max-width: 1200px) {
  .Header {
    padding: 2rem;
  }
  .HeaderLinks {
    flex-basis: 42%;
  }
}
@media only screen and (max-width: 880px) {
  .HeaderLinks {
    display: none;
  }

  .Menu {
    display: block;
  }
  .Mobile {
    display: block;
  }
  .MobileLight {
    display: block;
  }
}

@media only screen and (max-width: 650px) {
  .Header {
    padding: 2.5rem 2.5rem;
  }

  .Menu {
    display: block;
  }
  .IconDown,
  .UserName {
    display: none;
  }
  .WriteBtn {
    font-size: 1.6rem;
  }
  .userImg {
    width: 5rem;
    height: 5rem;
  }
  .Mobile aside {
    width: 55%;
  }
  .Mobile aside section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Mobile aside section a {
    width: 80%;
    max-width: 40rem;
  }
  .SignIn {
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 550px) {
  .Mobile aside {
    width: 70%;
    max-width: 40rem;
  }
}
@media only screen and (max-width: 400px) {
  .WriteBtn {
    font-size: 1.35rem;
    padding: 0.8rem 1.6rem;
  }
  .userImg {
    width: 4rem;
    height: 4rem;
  }
  .Menu {
    margin-right: 1.5rem;
    font-size: 2rem;
  }
  .Mobile aside {
    width: 75%;
  }
}
@media only screen and (max-width: 350px) {
  .Mobile aside {
    max-width: 85%;
  }
}
