.Header {
  padding: 2.5rem 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  box-shadow: 0px 4px 12px 0px #908f8f1f;
}
.HeaderDark {
  background-color: #111926;
}
.HeaderLight {
  background-color: #fff;
  box-shadow: 0px 4px 12px 0px #908f8f1f;
}
.Logo {
  display: flex;
  align-items: center;
  font-weight: 600;
}
.SpecialLogo {
  color: #2930e3;
}
.LogoNameDark {
  color: #fff;
}
.LogoNameLight {
  color: #000;
}
.HeaderLinks {
  display: flex;
  font-weight: 400;
  color: #fff;
  flex-basis: 50%;
  max-width: 62rem;
  justify-content: space-between;
  align-items: center;
}
.HeaderLinkDark {
  color: #fff;
}
.HeaderLinkLight {
  color: #444444;
}
.Menu {
  display: none;
  color: white;
}

.ContactLink {
  background-color: #2930e3;
  color: white;
  padding: 1.2rem 2.4rem;
  border-radius: 5px;
  transition: all 0.5s;
}
.ContactLink:hover {
  background-color: transparent;
  border: 1px solid #2930e3;
  color: #2930e3;
}
.User {
  display: flex;
  align-items: center;
}
.UserDark {
  color: #fff;
}
.UserLight {
  color: black;
}
.userImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #2930e3;
}
.UserName {
  margin-inline: 1rem;
  font-size: 1.4rem;
}
@media only screen and (max-width: 1000px) {
  .HeaderLinks {
    display: none;
  }
  .HeaderContackLink {
    display: none;
  }
  .Menu {
    display: block;
  }
  .User {
    display: none;
  }
}
