.Bio {
  background: rgba(60, 58, 58, 0.2);

  color: white;
}
.BioLight {
  background: rgba(60, 58, 58, 0.2);

  color: black;
}
.BioMain {
  justify-content: space-between;
  display: flex;
  padding: 2rem 4rem;
  align-items: center;
}
.Left {
  display: flex;
  align-items: center;
}
.Icons {
  display: grid;
  place-items: center;
}
.Icons .Icon svg {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.Icon a:not(:last-child) {
  margin-right: 2rem;
}

.Image img {
  width: 12rem;
  height: 12rem;
  margin-right: 2rem;
  border-radius: 50%;
}
.UserName {
  font-size: 2rem;
}
.Job {
  margin-top: 1rem;
  font-style: italic;
  font-size: 1.6rem;
}
blockquote {
  flex-basis: 50%;
  font-size: 1.8rem;

  line-height: 2rem;
}
@media only screen and (max-width: 790px) {
  .BioMain {
    flex-direction: column;
    align-items: flex-start;
  }
  blockquote {
    margin-top: 2.5rem;
  }
}
