html {
  font-size: 10px;
}

body {
  margin: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
* {
  margin: 0px;
  padding: 0px;

  box-sizing: border-box;
}
button {
  cursor: pointer !important;
}
.active {
  position: relative;
  color: #2930e3 !important;
}
.active::after,
.active::before {
  content: " ";
  background-color: #2930e3;
  display: block;
  height: 2px;
  position: absolute;
}
.active::before {
  width: 25%;
  top: 100%;
  left: 55%;
}
.active::after {
  width: 50%;
}
* {
  margin: 0px;
  padding: 0px;

  box-sizing: border-box;
}
.sun {
  color: #111926;
  font-size: 3rem;
}
.mode {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: 3rem;
}
.mode svg {
  font-size: 2.5rem;
  font-weight: bold;
  cursor: pointer;
}
.tox {
  flex-basis: 49.5%;
  border-radius: 0 !important;
  box-shadow: 0px 2px 8px 0px rgb(0 0 0 / 5%);
  max-height: 50rem;
  resize: none !important;
}
.Comments {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(68, 68, 68, 1);
}
.Commenter {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.CommenterRight {
  margin-left: 1rem;
  color: #fff;
}
.CommentName {
  font-weight: bold;
  color: white;
  margin-bottom: 0.2rem;
}
.Time {
  font-size: 1.4rem;
}
.Reply {
  background-color: transparent;
  font-size: 1.6rem;
  color: rgba(196, 196, 196, 1);
  font-weight: bold;
  flex-basis: 20%;
  border: 0;
  cursor: pointer;
}
.ReplyLight {
  color: #999999;
  background-color: transparent;
  font-size: 1.6rem;
  font-weight: bold;
  flex-basis: 20%;
  border: 0;
  cursor: pointer;
}
.comment {
  color: rgba(196, 196, 196, 1);
}

@media only screen and (min-width: 2000px) {
  html {
    font-size: 12px;
  }
}

@media only screen and (max-width: 450px) {
  .mode {
    margin-inline: 2rem;
  }
}

@media only screen and (max-width: 350px) {
  html {
    font-size: 8px;
  }
}
